<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>793829362131-avbmfi79aavh0qoji79ftsvcq020pea5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793829362131-avbmfi79aavh0qoji79ftsvcq020pea5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>793829362131-2o18iosbadhqun0c4ddmtq9islru5goo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Y7ocgFutO4EynPWpKNPEz88ydkoLcT4</string>
	<key>GCM_SENDER_ID</key>
	<string>793829362131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ripen.gogreen</string>
	<key>PROJECT_ID</key>
	<string>gogreen-b4fad</string>
	<key>STORAGE_BUCKET</key>
	<string>gogreen-b4fad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793829362131:ios:d2abc57dbb295741</string>
	<key>DATABASE_URL</key>
	<string>https://gogreen-b4fad.firebaseio.com</string>
</dict>
</plist>